<a href="https://colab.research.google.com/github/myllenasgl/P4/blob/main/Atividade_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [19]:
 covid = pd.read_csv ('/covid19_Confirmed_dataset.csv')
 covid.head (10)

                 Province/State       Country/Region  ...  4/29/20  4/30/20
0                           NaN          Afghanistan  ...     1939     2171
1                           NaN              Albania  ...      766      773
2                           NaN              Algeria  ...     3848     4006
3                           NaN              Andorra  ...      743      745
4                           NaN               Angola  ...       27       27
5                           NaN  Antigua and Barbuda  ...       24       24
6                           NaN            Argentina  ...     4285     4428
7                           NaN              Armenia  ...     1932     2066
8  Australian Capital Territory            Australia  ...      106      106
9               New South Wales            Australia  ...     3016     3025

[10 rows x 104 columns]